.img {
    width: 16rem;
    height: 13rem;
    border-radius: 1rem 1rem 0 0;
}
.card {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 28rem;
    margin: 0 1rem 1rem 0;
    padding: 0rem;
    border: 1px solid rgb(182, 182, 241);
    border-radius: 1rem;
    box-shadow: 5px 10px rgb(107, 105, 105);
    opacity: 1;
    color: rgb(149, 152, 153);
    transition: .25s;
}
.card:hover{
    /* background-color: rgb(107, 105, 105);; */
    color: aliceblue;
    opacity: .8;
    box-shadow: 5px 10px rgb(71, 70, 70);
    font-weight: bold;
}

.text {
    background-color: rgb(34, 33, 33);
    opacity: .5;
}