.backgroundInitial{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.btn{
    position: relative;
    top: 2rem;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .7rem;
    border: none;
    background: #000;
    color: rgb(214, 211, 211);
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background-color: rgb(214, 211, 211);
    color: #000;
}
.phrase{
    display: inline;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    position: absolute;
    right: 5rem;
    top: 19rem;
    width: 100%;
    max-width: 30rem;
}
.welcome{
    color: rgb(214, 211, 211);
    font-size: 3rem;
}

@media screen and (max-width: 500px) {
    .phrase{
        right: 0rem;
    }
  }