.container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    font-size: .8rem;
    list-style: none;
}

.deleteUnderlined {
    text-decoration: none;
    color:aliceblue;
}
.dogNotFound{
    width: 100%;
}
.title{
    color:rgb(233, 227, 227);
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}
.image{
    height: 25rem;
    width: 20rem;
}
@media screen and (max-width: 500px) {
    .container {
        justify-content: center;
    }
  }