.search {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inputStyle {
    font-size: 2.5rem;
    background-color: transparent;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 3.5rem;
    border: 3px inset gray;
    transition: .5s;
    margin-bottom: 1rem;
}
.inputStyle:hover{
    background-color: rgb(49, 48, 48);
    color: rgb(233, 227, 227);
    opacity: .7;
}
.inputStyle:focus{
    border: 3px inset rgb(4, 51, 4);
    color: rgb(233, 227, 227);
}
.btn{
    font-size: 2rem;
    background-color: transparent;
    border-radius: 2rem;
    border: none;
    margin-left: -3.5rem;
}
.icon{
    margin-bottom: -.1rem;
}
.containerFilters {
    display: flex;
    justify-content: center;
    position: relative;
    left: auto;
    right: auto;
}
@media screen and (max-width: 500px) {
    .search {
        margin-top: 8rem;
    }
    .inputStyle {
        font-size: 1.3rem;
        padding-top: .3rem;
        margin-left: -1rem;
    }
    .icon{
        margin-bottom: -.1rem;
        font-size: 1.5rem;
    }
}