.selectStyle{
    font-size: 1.25rem;
    border-radius: .5rem;
    background-color: transparent;
    margin-left: 0.5rem;
    color: rgb(211, 221, 230);
    transition: 0.25;
}
.selectStyle:hover{
    background-color: rgb(88, 86, 86);
    color: aliceblue;
}
.container{

}