.ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    justify-content: center;
}
.numberStyle{
    width: 100%;
    max-width: 5rem;
    text-decoration: none;
    background-color: rgb(88, 86, 86);
    opacity: .9;
    padding: .25rem .5rem .25rem .5rem;
    color: aliceblue;
    transition: .25s;
}
.numberStyle:hover{
    background-color: rgb(129, 123, 114);;
    color: rgb(192, 195, 197);
}
.currentNumber{
    width: 100%;
    max-width: 5rem;
    text-decoration: none;
    background-color: aliceblue;
    opacity: .9;
    padding: .25rem .5rem .25rem .5rem;
    color: rgb(88, 86, 86);
    transition: .25s;
}
.symbolStyle {
    bottom: -5rem;
    font-size: 1.5rem;
    width: 100%;
    max-width: 5rem;
    text-decoration: none;
    padding: 0 .25rem 0rem .25rem;
    transition: .25s;
    color: aliceblue;
    font-weight: bold;
}
.notSymbol {
    display: none;
}